<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges = "keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/Theme.OCS"
        tools:targetApi="31">
        <activity
            android:name=".profile.profile_patient"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".profile.medical_tests"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".profile.medical_rays"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".profile.medical_clinic"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Intro.admin.appointments"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Intro.admin.doctors"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Intro.patient.booking.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".Intro.admin.profile"
            android:exported="false"
            />
        <activity
            android:name=".Intro.patient.services.services"
            android:exported="false" />
        <activity
            android:name=".Intro.login.register_continue"
            android:exported="false"
            android:parentActivityName=".Intro.login.register"
             />
        <activity
            android:name=".Intro.login.register"
            android:exported="false"
            android:theme="@style/Theme.OCS"
             />
        <activity
            android:name=".Intro.login.login"
            android:exported="false"
            android:theme="@style/Theme.OCS" />
        <activity
            android:name=".Intro.IntroSlider.IntroSlider"
            android:exported="false"
            android:theme="@style/splash" />
        <activity
            android:name=".Intro.IntroSlider.splashScreen"
            android:exported="true"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>