<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCS"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <activity
            android:name=".medical_clinic"
            android:exported="false" />
        <activity
            android:name=".medical_tests"
            android:exported="false" />
        <activity
            android:name=".medical_rays"
            android:exported="false" />
        <activity
            android:name=".recycle_request"
            android:exported="false" />
        <activity
            android:name=".recycle_approved"
            android:exported="false" />
        <activity
            android:name=".patient_recycle"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".profile_doctor"
            android:exported="false" />
        <activity
            android:name=".profile_patient"
            android:exported="false" />
        <activity
            android:name=".Intro.admin.appointments"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Intro.admin.doctors"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Intro.patient.booking.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".Intro.admin.profile"
            android:exported="false" />
        <activity
            android:name=".Intro.patient.services.services"
            android:exported="false" />
        <activity
            android:name=".Intro.Login.RegisterContinue"
            android:exported="false"
            android:parentActivityName=".Intro.Login.Register" />
        <activity
            android:name=".Intro.Login.Register"
            android:exported="false"
            android:theme="@style/Theme.OCS" />
        <activity
            android:name=".Intro.Login.login"
            android:exported="false"
            android:theme="@style/Theme.OCS" />
        <activity
            android:name=".Intro.IntroSlider.IntroSlider"
            android:exported="false"
            android:theme="@style/splash" />
        <activity
            android:name=".Intro.IntroSlider.splashScreen"
            android:exported="true"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>